<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Easier Planner</title>
    <style>
        .red {
            background-color: red;
        }

        .green {
            background-color: green;
        }

        .grey {
            background-color: #aeb5bb;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Easier Planner</a>
            <div class="navbar-nav mr-auto mt-2 mt-lg-0 ">
            </div>
            <ul class="form-inline my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" onclick="share()">Share</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Export
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item " href="#" onclick="pdf_expert()">...as pdf</a>
                        <a class="dropdown-item" href="#" onclick="text_expert()">...as text</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- <nav class="navbar navbar-light fixed-top" style="background-color: #e3f2fd;">
        
        
    </nav> -->

    <div class="container-fluid">
        <div class="text-center ">
            <p>
            <h3>Time Table</h3>
            </p>
        </div>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="table-container" id="timetable">
                    <div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">
                        <div class="cd-schedule__timeline">
                            <ul>
                                <li><span>08:30</span></li>
                                <li><span>09:00</span></li>
                                <li><span>09:30</span></li>
                                <li><span>10:00</span></li>
                                <li><span>10:30</span></li>
                                <li><span>11:00</span></li>
                                <li><span>11:30</span></li>
                                <li><span>12:00</span></li>
                                <li><span>12:30</span></li>
                                <li><span>13:00</span></li>
                                <li><span>13:30</span></li>
                                <li><span>14:00</span></li>
                                <li><span>14:30</span></li>
                                <li><span>15:00</span></li>
                                <li><span>15:30</span></li>
                                <li><span>16:00</span></li>
                                <li><span>16:30</span></li>
                                <li><span>17:00</span></li>
                                <li><span>17:30</span></li>
                                <li><span>18:00</span></li>
                                <li><span>18:30</span></li>
                                <li><span>19:00</span></li>
                                <li><span>19:30</span></li>
                                <li><span>20:00</span></li>
                                <li><span>20:30</span></li>
                                <li><span>21:00</span></li>
                                <li><span>21:30</span></li>
                            </ul>
                        </div> <!-- .cd-schedule__timeline -->

                        <div class="cd-schedule__events">
                            <ul>
                                <li class="cd-schedule__group">
                                    <div class="cd-schedule__top-info"><span>Monday</span></div>
                                    <ul id='mon-list'>
                                    </ul>
                                </li>

                                <li class="cd-schedule__group">
                                    <div class="cd-schedule__top-info"><span>Tuesday</span></div>

                                    <ul id='tue-list'>

                                    </ul>
                                </li>

                                <li class="cd-schedule__group">
                                    <div class="cd-schedule__top-info"><span>Wednesday</span></div>

                                    <ul id='wed-list'>
                                    </ul>
                                </li>

                                <li class="cd-schedule__group">
                                    <div class="cd-schedule__top-info"><span>Thursday</span></div>

                                    <ul id='thu-list'>

                                    </ul>
                                </li>

                                <li class="cd-schedule__group">
                                    <div class="cd-schedule__top-info"><span>Friday</span></div>

                                    <ul id='fri-list'>
                                    </ul>
                                </li>
                                <li class="cd-schedule__group">
                                    <div class="cd-schedule__top-info"><span>Saturday</span></div>

                                    <ul id='sat-list'>

                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="cd-schedule-modal">
                        </div>

                        <div class="cd-schedule__cover-layer"></div>

                    </div>

                </div>
            </div>
            <div class="col-2"></div>

        </div>
        <div class="row mt-3">

            <div class="col-2"></div>
            <div class="col-8">
                <h4>Select Semester and Department</h4>
                <form class="selectbox">
                    <div class="form-row align-items-center">
                        <label class="my-1 mr-2" for="department">Department</label>
                        <div class="col-auto my-1" id="department">
                            <select class="selectpicker" id="select-department" data-live-search="true" multiple
                                data-selected-text-format="count > 3" data-width="100%" data-size="6">
                                <option data-tokens="eie">EIE</option>
                                <option data-tokens="comp">COMP</option>
                                <option data-tokens="ama">AMA</option>
                                <option data-tokens="htm">HTM</option>
                                <option data-tokens="ad">AF</option>
                                <option data-tokens="elc">ELC</option>
                                <option data-tokens="clc">CLC</option>
                                <option data-tokens="cbs">CBS</option>
                                <option data-tokens="elc">ELC</option>
                                <option data-tokens="abct">ABCT</option>
                            </select></div>
                        <label class="my-1 mr-2" for="sem">Semester</label>

                        <div class="col-auto my-1" id="sem">
                            <div class="form-check-inline">
                                <input class="form-check-input" type="radio" name="sem-select" id="sem1" value="sem1"
                                    checked>
                                <label class="form-check-label" for="sem1">
                                    SEM1
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <input class="form-check-input" type="radio" name="sem-select" id="sem2" value="sem2">
                                <label class="form-check-label" for="sem2">
                                    SEM2

                                </label>
                            </div>
                            <div class="form-check-inline">
                                <input class="form-check-input" type="radio" name="sem-select" id="sem3" value="sem3"
                                    disabled>
                                <label class="form-check-label" for="sem3">
                                    SEM3
                                </label>
                            </div>
                        </div>
                        <div class="col-auto my-1"><button type="button" onclick="subjectSearch()">Search</button></div>
                    </div>

                </form>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row mt-5">
            <div class="col-2"></div>
            <div class="col-8">
                <h4>Select Subject</h4>
                <select class="selectpicker" id="subject-select" onchange="subjectSelectChange() " data-size="6"
                    data-live-search="true" multiple data-width="100%" data-selected-text-format="count > 4">

                </select>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row mt-5">
            <div class="col-2"></div>
            <div class="col-8">
                <h4>
                    Get Planning and Adjust
                </h4>
                <div id="subject-setting-container">
                    <button type="submit" onclick="solve()">Generate a solution</button>
                </div>

                </select>
            </div>
            <div class="col-2"></div>
        </div>





    </div>


    <footer class="blog-footer mt-5">
        <p>
            A demo for automatically planning courses for the project of COMP3421 Web Application Design and
            Development.
        </p>
        <p>
            The data used comes from PolyU e-student 2019-2020.
        </p>
        <p>
            HAN Shanglin &copy; 2020
        </p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>


    <div class="modal fade" id="common-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-note">Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="common-modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="share-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-note">Share Link</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="share-modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"
                        onclick="selectElementContents( document.getElementById('share-modal-body') );"
                        id="copy-2">Copy</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="export-text-modal" data-backdrop="static" data-keyboard="false" tabindex="-1"
        role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-note">Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table" id="text-target">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Code</th>
                                <th scope="col">Subject</th>
                                <th scope="col">Component</th>
                                <th scope="col">Day</th>
                                <th scope="col">Start</th>
                                <th scope="col">End</th>
                            </tr>
                        </thead>
                        <tbody id="export-text-modal-body">

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"
                        onclick="selectElementContents( document.getElementById('text-target') );"
                        id="copy-1">Copy</button>
                </div>
            </div>
        </div>
    </div>




    <!-- util functions included in the CodyHouse framework -->

    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{url_for('static', filename='js/printThis.js') }}"></script>
    <div style="display: none;" id="record">{% if data %}{{ data|tojson|safe }}{% else %}null{% endif %}</div>
    <script>
        
    </script>
</body>

</html>